html {
	overscroll-behavior: none
}

body {
	margin: 0;
	background-color: #3168dd;
	overflow: hidden;
	overscroll-behavior: none;
	touch-action: none;
	pointer-events: none;
}

#game {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 100dvw;
	height: 100dvh;
}

canvas {
	margin: auto;
	display: block;
	border: none;
	/* border: 2px solid rgba(255, 255, 255, .6); */
	pointer-events: all;
	touch-action: manipulation;
}

.wave {
	position: fixed;
	overflow: hidden;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	width: 100dvw;
	height: 100dvh;
	/* background-color: #fff; */
	/* z-index: 100; */
}

.wave::before,
.wave::after {
	content: '';
	position: absolute;
	left: -50%;
	width: 200%;
	height: 200%;
	background-color: #ffffff;
	will-change: transform;
	animation: wave linear 6s infinite;
}

.wave::before {
	bottom: -150%;
	border-radius: 50% 50% / 50% 70%;
	opacity: 0.1;
}

.wave::after {
	bottom: -146%;
	border-radius: 30% 70% / 30% 50%;
	opacity: 0.05;
	animation-delay: 0.4s;
}

@keyframes wave {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 800px) {
	body {
		background: #3168dd;
		margin: 0;
		padding: 0;
	}

	canvas {
		/* border: 0px solid #CCC; */
	}

	a {
		display: none;
	}
}